<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.shop.shop.ShopDao">

    <select id="listShop" resultType="com.cloud.shop.dto.Shop">
        select *
        from shop
    </select>
    <select id="search" resultType="com.cloud.shop.dto.Shop">
        select * from shop
        where id in
        (<foreach collection="s1" item="s" separator=",">
        #{s}
    </foreach>)

    </select>
</mapper>
