<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bu.deploy.dao.TaskDtoMapper">
    <select id="listAll" resultType="com.bu.deploy.dto.TaskDto">
        select PROC_DEF_ID_ processDefinitionId,ID_ id,NAME_ name,DESCRIPTION_ description
        from ACT_RU_TASK order by CREATE_TIME_ desc
    </select>
</mapper>